<div *ngIf="lesson">
    <div class="jumbotron">
        <h2>{{lesson.name}}</h2>
        <p>{{lesson.description}}</p>
    </div>

    <div *ngIf="lesson.type == 'hiragana'">
        <table class="table">
            <thead>
                <tr>
                    <th>Romaji</th>
                    <th>Hiragana</th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let hiragana of lesson.data">
                <td>{{hiragana.romaji}}</td>
                <td>{{hiragana.hiragana}}</td>
            </tr>
            </tbody>
        </table>

    </div>

    <div *ngIf="lesson.type == 'katakana'">
        <table class="table">
            <thead>
            <tr>
                <th>Romaji</th>
                <th>Katakana</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let katakana of lesson.data">
                <td>{{katakana.romaji}}</td>
                <td>{{katakana.katakana}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>